Search: {{input type="text" value=nameFilter size='40'}}
<table class='beer-list'>
  <tr>
    <th>Brewery</th>
    <th>City</th>
    <th>Name</th>
    <th>Abv</th>
    <th>Ibu</th>
    <th>Srm</th>
    <th>Tags</th>
  </tr>
  {{#each filteredBeer as |beer|}}
    <tr>
      <td>{{beer.Brewery}}</td>
      <td>{{beer.City}}</td>
      <td>{{beer.Name}}</td>
      <td>{{beer.Abv}}</td>
      <td>{{beer.Ibu}}</td>
      <td>{{beer.Srm}}</td>
      <td>
        {{#each beer.tags as |tag|}}
          {{#link-to 'tags.show' tag}}
            {{tag.id}}
          {{/link-to}}
        {{/each}}
      </td>
    </tr>
  {{/each}}
</table>
